@using SaglikOcagi.Entity
@model IEnumerable<tbl_Anasayfa>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th>Anasayfa Fotoğraf</th>
        <th>Açıklama</th>
        <th>Düzenle</th>
    </tr>
    @foreach (tbl_Anasayfa item in Model)
    {
        <tr>
            <td><img src="~/Images/@item.AnasayfaFoto" class="pro-img-box" style="width:100px" height="100" /></td>
            <td>@Html.DisplayFor(t => item.Aciklama)</td>
            <td>
                <a href="~/Admin/Anasayfa/EditHomepage/@item.AnasayfaID" class="btn btn-success">Düzenle</a>
                <a href="~/Admin/Anasayfa/Delete/@item.AnasayfaID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>

